.landing-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  
  img{
    width: 50%;
    height: 50%;
  }
}

.landing-links {
  width: 50%;
  text-align: center;

    button {
      font-size: 18px;
  }
}

